name: Lint

on:
  push:
    paths:
      - '**.go'
      - '**go.mod'
      - '**go.sum'
      - '**go.work'
      - '**go.work.sum'
      - '.golangci.yaml'
  pull_request:
    paths:
      - '**.go'
      - '**go.mod'
      - '**go.sum'
      - '**go.work'
      - '**go.work.sum'
      - '.golangci.yaml'

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.20'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          args: --timeout 120s --max-same-issues 50
      - name: Bearer
        uses: bearer/bearer-action@v2
